# Tavily Search API Configuration
TAVILY_API_KEY=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

# LLM Configuration (OpenAI Compatible)
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_API_KEY=sk-ca1a5dcd3ab5461da6ba8a3172b7b957
LLM_MODEL=qwen3.5-122b-a10b



# Tavily Search API Configuration
TAVILY_API_KEY=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

# LLM Configuration (OpenAI Compatible)
LLM_BASE_URL=https://chatapi.littlewheat.com/v1
LLM_API_KEY=sk-TSkEvlyiPW1Ja6OWSGMnza7MDPGteNgDyFyIw39K7KBAeZkf
LLM_MODEL=deepseek-r1
